{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/photos.css') }}">
{% endblock %}

{% block body %}
    <section class="my-5">
        <div class="container-fluid">
            <div class="heading">
                <h2>Notre galerie photo !</h2>
                <span>Retrouvez les photos liées à nos activités !</span>
            </div>

            <div class="row">
                <div class="col-sm-10 mx-auto">
                    <div class="flex-container">
                        {% for photo in photos %}
                            <div class="flex-item " id="photo_{{ photo.id }}">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <button href="#" class="btn btn-danger delete-button" data-photo-id="{{ photo.id }}">
                                        <i class="fas fa-times"></i>
                                    </button>
                                {% endif %}

                                <img class="card-img-top photos" src="{{ asset('img/uploads/'~ photo.image)| imagine_filter('my_thumb') }}"
                                     alt="image_actualite">
                                <p>{{ photo.legend }}</p>
                            </div>

                            {#-----MODAL DELETE PHOTO-----#}
                            <div class="modal modal-alert pt-5 " id="deletePhotoModal_{{ photo.id }}">
                                <div class="close-wrap d-flex mx-auto align-items-center justify-content-center">
                                    <button type="button" class="btn btn-danger delete-button" data-dismiss="modal">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                                <div class="modal-dialog">
                                    <div class="modal-content col-12 mx-auto">
                                        <div class="d-flex flex-column">
                                            <div class="modal-title heading row justify-content-center mb-3">
                                                <h2>Voulez-vous supprimer définitivement  cette image?</h2>
                                            </div>

                                            <div class="d-flex flex-column flex-sm-row justify-content-around mx-auto mb-3" id="buttons">
                                                <button class="btn btn-outline" data-dismiss="modal">Non</button>
                                                <button class="btn btn-primary ml-0 ml-sm-3 mt-3 mt-sm-0 confirm-delete" type="submit" data-dismiss="modal" data-photo-id="{{ photo.id }}" data-url="{{ path('delete_photo') }}" >Oui</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#-----END MODAL DELETE PHOTO-----#}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {#-----MODAL D'ERREUR -----#}
        <div class="modal modal-alert pt-5 px-1" id="modal-error">
            <div class="close-wrap d-flex mx-auto align-items-center justify-content-center">
                <button type="button" class="btn btn-danger delete-button" data-dismiss="modal">
                        <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-dialog">
                <div class="modal-content col-12 col-sm-10 col-md-8 col-xl-5 py-4 mx-auto">
                    <div class="d-flex flex-column">
                        <div class="modal-title heading justify-content-center mb-3">
                            <h2>Une erreur est survenue</h2>
                            <p>Si cette erreur persiste, veuillez contacter l'admin du site</p>

                        </div>
                        <div class="text-center mx-auto">
                            <i class="fa fa-exclamation-circle fa-5x mb-3"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#-----FIN MODAL ERREUR-----#}

        {#-----MODAL SHOW PHOTO-----#}
        <div class="modal modal-alert pt-5 modal-photo" id="show_photo">

                <img id="full_photo"
                     alt="image_actualite" >

        </div>
        {#-----END MODAL SHOW PHOTO-----#}

    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/photos.js') }}"></script>
{% endblock %}
