{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/project.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
    <section class="mt-5 mb-5">
        <div class="container mb-0 mb-md-4">
            <div class="heading">
                <h2>Notre projet en détail</h2>
                <span>N'hésitez pas à nous donner votre avis en nous envoyant un message ici ! <a href="{{ path('contact') }}"><img src="{{ asset('img/elements/send-email.svg') }}" id="emailIcon"></a> </span>
            </div>
            <div class="container text-center">
                    <h3>{{ project.title|upper }}</h3>
                    <img class="project-image" src="{{ asset('img/uploads/'~project.image) }}" alt="image de projet">
                    <div class="media-body col-12">
                        <p class="mt-4 mt-md-0 text-justify">{{ project.content|raw }}</p>
                    </div>
            </div>


        </div>
    </section>
{% endblock %}
